{{- if eq .chezmoi.os "windows"}}
.zshrc
.profile
.config/nvim
.config/powershell
.config/tmux
.config/zsh
.config/sway
.local/
{{- else if .chezmoi.kernel.osrelease | lower | contains "microsoft" }}
.config/sway
.local/bin/clipboard-to-windows
.local/bin/start-sway
.local/bin/win-to-clipboard
{{- else }}
OneDrive
Documents
AppData
.bash_profile
.minttyrc
.config/yasb
.oh-my-zsh/cache
komorebi.json
{{- end }}
.nvim
