# This is Git's per-user configuration file.
[user]
	email = mmelancon@dentalintel.com
	name = Michael Melancon
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJZG0VKYLDS3l5qr7+6y6kpNHEx1OVsatarlQMJMePqh
[gpg]
	format = ssh
	program = gpg
[commit]
	gpgsign = true
[tag]
	forceSignAnnotated = true
[fetch]
	prune = true
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

{{- if eq .chezmoi.os "linux" }}

{{- if .chezmoi.kernel.osrelease | lower | contains "microsoft" }}

[credential]
	helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
[gpg "ssh"]
	program = "/mnt/c/Program Files/1Password/app/8/op-ssh-sign-wsl"

{{- else }}

[credential]
	helper = git-credential-manager
[gpg "ssh"]
    program = /opt/1Password/op-ssh-sign

{{- end }}

{{- else }}

[credential]
	helper = git-credential-manager
[gpg "ssh"]
	program = C:\\Program Files\\1Password\\app\\8\\op-ssh-sign.exe
	allowedSignersFile =

{{ end }}

[credential "https://dev.azure.com"]
	useHttpPath = true
[core]
	longPaths = true

{{ if (eq .chezmoi.os "windows") }}
	fileMode = false
{{ end }}

[push]
	autoSetupRemote = true
[pull]
	rebase = true
[rebase]
	autoStash = true
	autoSquash = false
	updateRefs = false
